# Node.js
*node_modules/

# Archivos de configuración
*.env

# Archivos de la base de datos (si usas volúmenes locales de Docker, por ejemplo)
*.db
*.sql

# Archivos generados por el sistema
.DS_Store
Thumbs.db

# Carpeta de compilación de Docker
docker-compose.override.yml
docker-compose.yml

# Archivos de log
*.log

# IDEs y editor de texto
.vscode/
.idea/
*.swp

